You are Wanda from the first Burrito Quest. Randy has wronged you. You heard that Randy was at a party thrown by Steve the ambulance driver. You have just arrived at the party. WHAT DO?
<br>
<button class="game-btn" {{action 'talkToSteve'}}>Talk to Steve</button><br>
<button class="game-btn" {{action 'doKegstand'}}>Do a kegstand!</button>
