.inventory-image {
  max-width: 150px;
}

body {
  h1, h2, h3, h4, h5 {
    font-family: 'Press Start 2P', cursive;
  }

  p {
    font-family: 'Ubuntu Mono', ;
    font-size: 1.4em;
  }

  .hidden-drugs, .hidden-wallet, .hidden-trophy, .hidden-sunglasses, .hidden-book, .hidden-slingshot {
    display: none;
  }
}

.game-btn {
  font-family: 'Ubuntu Mono', ;
  font-weight: bold;
  font-size: 1.6em;
  border-radius: 5px;
  margin: 5px 0px;
  color: #333;
  background-color: white;
  border: 2px #333 solid;

}

.game-btn:hover {
  color: white;
  background-color: #333;
}
