<div class="jumbotron">
  <div class="col-md-offset-2 text-center">
    <h1 id="title">BURRITO QUEST II:</h1>
    <h2>RISE OF WANDA</h2>
  </div>
</div>
<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
