<p>Randy sees you, points, and screams "I THOUGHT YOU WERE DEAD!" He backs away from you. "I WATCHED YOU DIE."  He starts sprinting in the opposite direction.
"YOU STILL OWE ME A BURRITO!" you yell as he escapes into the night. By morning he is probably half way to Bermuda....</p>
<br>
<h3 class="game-over">GAME OVER</h3>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
