<p>"Oh Randy? He's so tight. I heard he rescued some puppies from a gas leak. He wound up adopting the two ugliest puppies from the litter out of sympathy and made mad sure to find a home for the rest of them. Those puppies owe EVERYTHING to Randy. I think he named his two Mac and Cheese. They're still ugly but shit if he didn't raise'em right."</p>
<br>
<button class="game-btn" {{action 'showFriendMagicEye'}}>Distract Randy's friend with the Magic Eye book</button><br>
<button class="game-btn" {{action 'mimicBroVoice'}}>Mimic a bro voice and yell "FREE BURRITOS OUT FRONT, BROS!"</button>
