<p>You demand Steve's wallet. He responds "You know what, Wanda? You're so terrifying to me that I will 100% give you my wallet if it means staying on your good side. Just let me grab my bus pass out of it real quick." Steve takes his bus pass out of the wallet and hands it to you. Wow, that was easy. Oh sweet! There's $22 in here.</p>
<br>
<button class="game-btn" {{action 'takeDrugsDeath'}}>Take Steve's drugs on the spot.</button><br>
<button class="game-btn" {{action 'askAboutRandy2'}}>Ask Steve about Randy.</button>

{{inventory-display}}
