<p>As the protagonist hangs upside-down, you ask "Hey, have you seen Randy around?" The protagonist somehow responds while the beer is flowing into his mouth: "Oh, you mean Randy Schmeckles? I heard he was coming tonight, but I haven't seen him yet."</p>
<br>
<button class="game-btn" {{action 'talkToSteve'}}>Talk to Steve</button><br>
{{#each model as |game|}}
{{#unless game.takeMagicEye}}
<button class="game-btn" {{action 'takeMagicEye'}}>Steal Magic Eye book</button><br>
{{/unless}}
{{/each}}
{{#each model as |game|}}
{{#unless game.takeSunglasses}}
<button class="game-btn" {{action 'takeSunglasses'}}>Steal sunglasses</button><br>
{{/unless}}
{{/each}}
{{inventory-display}}
