
<div class="col-sm-8">
  <p>You ask Steve the ambulance driver "Do you know if Randy's here?" "Yeah" he responds, "he just showed up actually! I think he's out in the backyard. But he won't be around forever, he's got a lateshift at the hospital tonight. I think he's reading Charlotte's Web to the children in the cancer ward!"</p>
  {{#each model as |game|}}
  {{#unless game.askForWallet}}
  <button class="game-btn" {{action 'askForWallet'}}>Ask Steve for his wallet.</button><br>
  {{/unless}}
  {{/each}}
  <button class="game-btn" {{action 'approachRandyBackyard'}}>Go outside and approach Randy.</button><br>
  <button class="game-btn" {{action 'peekFromMicrowave'}}>Hide behind the microwave to spy on Randy</button>
  <br>

</div>
<div class="col-sm-4">
  {{inventory-display}}
</div>
