<p>You are propped upside-down over the keg by the protagonist from the first Burrito Quest. A crowd forms around you and starts counting up from 1 as the keg nozzle is shoved into your mouth and a mystery hand triggers open the faucet. The beer flows into your mouth and you start to lose your balance as the the crowd shouts "...27!...28!...29!...30!" Right on 30, your hands slip off the rim of the keg, and the protagonist's weak-ass arms lose their grip on your legs. Your face smashes into the floor and your neck snaps immediately. You die.</p>
<br>
<h3>GAME OVER</h3>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
