<p>You stealthily enter the ward lobby. Right behind the front desk is Randy in a doctor's coat, filling out an important-looking form on an important-looking clipboard. He glances up at you, his peripheral vision drawn to your cyan poncho. He notices that it's YOU wearing the cyan poncho. He points and screams "I THOUGHT YOU WERE DEAD!" He frisbees the clipboard and it dings you right in the forehead. "I WATCHED YOU DIE!" As you recover from the clipboard attack, Randy vanishes down a a hospital corridor. You never see him again.</p>
<br>
<h3>GAME OVER</h3>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
