<p>The security guard is all like "Oh damn I love Magic Eye books! Let me flip through this instead of making sure that you're not trying to smuggle one of our doctors out of this hospital in some half-assed Weekend at Bernie's-style scheme." Wow that was easy.</p>
<p>You wheel Randy all the way back to your place, about 5 miles, mostly uphill. You go to transfer his body and realize that it is cold to the touch. Uh oh, he is super dead. Now you will never be able to get the burrito he owed you.</p>
<br>
<h3>GAME OVER</h3>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
