<p>You grab the gurney and haul his body onto it, covering it with a sheet and putting on the sunglasses as a totally convincing disguise. You wheel Randy out towards the entrance of the hospital, and see the security guard by the door. WHAT DO?</p>
<br>
<button class="game-btn" {{action 'gurneyDistractMagicEye'}}>Distract the guard with Magic Eye book</button><br>
<button class="game-btn" {{action 'gurneyRunForIt'}}>Try and make a run for it</button><br>
