<p> So apparently it is not easy to sprint while pushing a gurney. After a few steps, you trip on the sheet covering Randy, and you, Randy, and the gurney go tumbling for the ground. You crack your neck on the edge of the tipped-over gurney like Hilary Swank with that stool (SPOILERS FOR MILLION DOLLAR BABY). The last thought that goes through your head before the world turns black is simply "...I'll never get that burrito."</p>
<br>
<h3 class="game-over">GAME OVER</h3>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
