<div class="col-sm-8">
  <p>You decide perhaps the best way to blend in with the crowd is to participate in a kegstand. You ask for volunteers to hold your legs. The protagonist from the first Burrito Quest appears! He says "Hi it's me, the protagonist from the first Burrito Quest. Can I hold your legs for you?" "Why certainly, bitch!" you growl. "How long of a kegstand are you looking to do?" WHAT DO?</p><br>

  <button class="game-btn" {{action 'do28Seconds'}}>Respond "28 seconds!"</button><br>
  <button class="game-btn" {{action 'do29Seconds'}}>Respond "29 seconds!"</button><br>
  <button class="game-btn" {{action 'doKegstandTilDeath'}}>Respond "As long as your weak-ass man arms can take it, baby!"</button><br>
</div>
<div class="col-sm-4">
  {{inventory-display}}
</div>
