<p>Randy turns his head towards the kitchen window and sees you awkwardly staring at him. He recognizes you immediately. Randy points, and screams "I THOUGHT YOU WERE DEAD!" He backs away from the house. "I WATCHED YOU DIE."  He starts sprinting in the opposite direction. "YOU STILL OWE ME A BURRITO!" you yell as he escapes into the night. He presumably skips town and is never heard from again....</p>
<br>
<h3>GAME OVER</h3>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
