<p>You are Wanda from the first Burrito Quest. Randy has wronged you. You heard that Randy is at a party thrown by Steve the ambulance driver. You have just arrived at the party. WHAT DO?</p>
<br>

<button {{action 'talkToSteve'}}>Talk to Steve</button><br>
{{#each model as |game|}}
{{#unless game.doKegstand }}
<button {{action 'doKegstand'}}>Do a kegstand!</button>
{{/unless}}
{{/each}}
<br>
{{inventory-display}}
