You are Wanda from the first Burrito Quest. Randy has wronged you. You heard that Randy was at a party thrown by Steve the ambulance driver. You have just arrived at the party. WHAT DO?
<br>
<button {{action 'talkToSteve'}}>Talk to Steve</button><br>
<button {{action 'doKegstand'}}>Do a kegstand!</button>
<br>
{{inventory-display}}
