<p>"Nicely done, Wanda! Now if you can answer me this final Randy-related question, I SUPPOSE I'll make your burrito for you:</p>

<h3>"What book did I read to the children in the hospital?""</h3>
<button class="game-btn" {{action 'questionWrong'}} type="radio" name="button">Black Beauty</button><br>
<button class="game-btn" {{action 'questionThreeRight'}} type="radio" name="button">Charlotte's Web</button><br>
<button class="game-btn" {{action 'questionWrong'}} type="radio" name="button">Animal Farm</button>
