<p>Randy puts his head down in disappointment. "You don't know me at all, do you Wanda."</p>
<p>"I know enough."</p>
<p>"I'm not going to make it out of here alive, am I?"</p>
<p>You don't respond, but Randy knows your answer.</p>
<p>"Just get it over with, Wanda. I don't want to suffer any more."</p>
<p>You shake your scissors in Randy's face. "But.... my burrito."</p>
<p>Without notice, Randy snags the scissors out of your hand, and reluctantly plunges his newly-acquired weapon into your heart. "You made me do this, Wanda. Damn you, Wanda. DAMN YOU!!"</p>
<p>As you collapse to the ground, bleeding, you make one final act of revenge against Randy. You pull the key to Randy's ankle-chain out of your pocket, stick it in your mouth, and swallow it.</p>
<p>"Have fun getting this key.... you..... bastard." You die.</p>

<h3 class="game-over">GAME OVER</h3>
<br>
{{#link-to 'index'}}<div class="text-center"><button class="game-btn play-again">PLAY AGAIN</button></div>{{/link-to}}
