<p>"Wow Wanda... maybe you do know me more than I thought. If you promise to let me go, I guess I can make you a burrito." You nervously nod your head, and Randy reluctantly accepts this as a promise. He begins constructing your burrito from the ingredients you've sprawled across the counter. He pulls out a tortilla, and starts plopping on refried beans and guacamole.</p>
<p>Randy asks what he percieves to be an important question: "Do you want me to cook this ground beef? It's raw."</p>
<p>"No, I like it that way. PUT IT ON."</p>
<p>"....OK." Randy spreads the raw ground beef onto the burrito pile. "Do you have a knife for these onions and tomatoes?"</p>
<p>"You think I'm an idiot? I'm not giving you a knife. MAKE IT WORK." you reply, waving the scissors in Randy's face. Randy nervously breaks the onions and tomatoes up in his hands, tomato juice splashing all over the counter. You offer Randy a paper towel, which he accepts as a quizzical peace offering. As he wipes his hands off, he looks at his mound of gross-looking ingredients, and with a defeated tone asks "How's this?"</p>
<p>You shed a single tear. "It's perfect. WRAP IT UP."</p>
<p>Randy flinches at your response, but complies. He starts the wrapping process, ingredients bleeding out the sides of the overloaded burrito nightmare. With effort, he manages to contain the innards fairly well. It actually kinda looks like a burrito! Randy wraps the tomato juice-soaked paper towel around his creation for presentation, and offers it to you. His hands are shaking.</p>
<p>"Good. Gooooood. You've done well Randall. I will now set you free." You open a cupboard and retrieve your trusty cricket bat. The last thing Randy ever sees is you swinging for the fences at his face. He collapses on the ground. You open the spacious cabinet under your kitchen sink, and start stuffing Randy's body inside. He barely fits. You close the cabinet door, and see the pool of blood on the kitchen floor. You're too lazy to deal with this mess now, and instead retrieve a few throw-pillows from your couch and place them over the mess.</p>

<p>Phew, what an exhausting night! You don't even have the energy to eat Randy's burrito. Perhaps a quick nap will make you hungry! Scissors still in one hand, burrito in the other, you dive into bed and close your eyes. Your dreams are incoherent.</p>
<hr>
<h1 class="text-center">CONGRATULATIONS!!!!</h1>
<h2 class="text-center">YOU WIN</h2>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
