<p>Well... you've been paying attention, haven't you? Surely if you know my last name, you can tell me:</p>

<h3>What are the names of my two dogs?</h3>
<button class="game-btn" {{action 'questionWrong'}} type="radio" name="button">Whiskey and Coke</button><br>
<button class="game-btn" {{action 'questionWrong'}} type="radio" name="button">Chicken and Waffles</button><br>
<button class="game-btn" {{action 'questionTwoRight'}} type="radio" name="button">Mac and Cheese</button>
