<p>You follow Randy into the room. It's a small examination room with only random and assorted medical supplies inside. You close the door behind you, and Randy hears the latch. He turns towards you, and screams "I THOUGHT YOU WERE DEAD! I WATCHED YOU DIE." You're blocking the door, he has nowhere to run this time. You grin an evil grin and respond "And now I'll watch YOU die." Without a weapon, you have no choice but try and kill Randy with your bare hands. You wrap his hands around his neck. There is a struggle. In a desperate attempt to gain the upper hand, Randy reaches for his hardcover copy of Charlotte's Web and bludgeons you to death. Right before you take your last breath, you wheeze "now...I'll never...get my..burrito back!" </p>
<br>
<h3 class="game-over">GAME OVER</h3>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
