<p>You follow Randy into the room. It's a small examination room with only random and assorted medical supplies inside. You close the door behind you, and Randy hears the latch. He turns towards you, and screams "I THOUGHT YOU WERE DEAD! I WATCHED YOU DIE." You're blocking the door, he has nowhere to run this time. You pull out your bag of drugs, and grab a handful "I'm gonna force these down your throat!" Randy laughs and retorts "Wanda, you have like zero upper body strength. I'd like to see you try." You charge at Randy with a fistful of drugs aimed towards his face. Randy quickly counters with a sweep kick, and you go down like a sack of tacos. He quickly calls security and they promptly enter the room and handcuff you. As you're being dragged out of the hospital, Randy asks "Why, Wanda? WHY?" Breathing heavily, you slowly tilt your head up to make eye contact with him and respond "Because you owe me a burrito." You will never forget the look of confusion that this statement brought to Randy's face.</p>
<br>
<h3 class="game-over">GAME OVER</h3>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
