<p>You follow Randy into the room. It's a small examination room with only random and assorted medical supplies inside. You close the door behind you, and Randy hears the latch. He turns towards you, and screams "I THOUGHT YOU WERE DEAD! I WATCHED YOU DIE." You're blocking the door, he has nowhere to run this time. You grin an evil grin and respond "And now I'll watch YOU die." You pull out your slingshot, draw it back, and fire nothing at him. It is not effective. As you attempt to reload nothing into your slingshot, Randy picks up the phone and dials security. A big beefy security lady charges into the room and tackles you to the ground. Randy sighs with relief "Thank GOD you were here to help. That woman you tackled is Wanda and she's absolutely bonkers!" Security lady locks you up in handcuffs and escorts you forcefully to the police officer outside. The officer says with pain in his voice "Why did you want to attack that man? He was good people." You mumble in response, "I just wanted my burrito back." </p>
<br>
<h3 class="game-over">GAME OVER</h3>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
