<div class="col-sm-8">
  <p>You follow Randy into the room. It's a small examination room with only random and assorted medical supplies inside. You close the door behind you, and Randy hears the latch. He turns towards you, and screams "I THOUGHT YOU WERE DEAD! I WATCHED YOU DIE." You're blocking the door, he has nowhere to run this time. Randy quickly picks up the phone and dials security. "HELP! THERE'S A WOMAN IN HERE TRYING TO KILL-" you cut him off with a swift blow to the head with your beloved kegstand trophy! You're standing over Randy's unconscious body.</p>
  <p>You take off his jacket, putting it on to conceal your identity. You spot a wheelchair in the corner, and a gurney. WHAT DO?</p><br>
  <button class="game-btn" {{action 'wheelchairTrophy'}}>Load Randy into wheelchair.</button><br>
  <button class="game-btn" {{action 'gurneyTrophy'}}>Load Randy into gurney.</button><br>
</div>
<div class="col-sm-4">
  {{inventory-display}}
</div>
