<p>You decide that the best way to follow Randy on foot is to steal Steve the ambulance driver's bike and pedal at a walker's pace. You keep your distance from Randy surprisingly well. You look down at the handlebars and notice that Steve the ambulance driver's bike has a shiny bell on it. NEATO! You can't resist the temptation: you ring the bell. DING DING! Randy stops in his tracks, turns his head slowly, and notices that it's you, Wanda, on the bike. Randy points, and screams "I THOUGHT YOU WERE DEAD!" He starts sprinting away "I WATCHED YOU DIE!" You attempt to catch up to Randy, but holy crap he is really fast! He escapes into the night, and you never see him again.</p>
<br>
<h3 class="game-over">GAME OVER</h3>
<br>
{{#link-to 'index'}}<div class="text-center"><button class="game-btn play-again">PLAY AGAIN</button></div>{{/link-to}}
