<p>You saunter up to the cop and attempt to distract him. "Hey! Is that Nick Nolte across the street?" The cop, unphased, replies "Who is Nick Nolte?" This upsets you. "HAVEN'T YOU SEEN 48 HRS? WHAT KIND OF COP ARE YOU?" You reach for the officer's shiny gun. He stops your attempt with an arm-bar counter and immediately tazes you. He hauls you into the backseat of his police cruiser, and slams the door. As he starts heading to the the police station, you spot Randy through a hospital window, reading to a group of cancer kids. You mutter under your breath "Now I'll never get my burrito back." The cop hears you and says "What's that about burritos?" Defeated, you reply "Nothing..."</p>
<br>
<h3 class="game-over">GAME OVER</h3>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
