You clearly learned nothing from after school specials. You pour the bag of drugs into your mouth like they're the end-crumbs at the bottom of a Doritos bag. Your head immediately starts spinning, and you foam from the mouth. As you collapse to the ground and take your final breath, you hear a partygoer say "Woah, buzzkill."
<br>
<h3>GAME OVER</h3>
<br>
{{#link-to 'index'}}PLAY AGAIN{{/link-to}}
<br>
{{inventory-display}}
