<p>You clearly learned nothing from after school specials. You pour the bag of drugs into your mouth like they're the end-crumbs at the bottom of a Doritos bag. Your head immediately starts spinning, and you foam from the mouth. As you collapse to the ground and take your final breath, you hear a partygoer say "Woah, buzzkill."</p>
<br>
<h3 class="game-over">GAME OVER</h3>
<br>
{{#link-to 'index'}}<button class="game-btn">PLAY AGAIN</button>{{/link-to}}
<br>
