You shuffle your way over to Steve, the ambulance driver. He sees you approaching, and visibly tightens up a bit. "H-h-hey Wanda. What do you want?"
<br>
<button class="game-btn" {{action 'askForWallet'}}>Ask for Steve's Wallet (just to borrow)</button><br>
<button class="game-btn" {{action 'askForDrugs'}}>Ask if he has drugs. Steve the ambulance driver always has drugs.</button><br>
<button class="game-btn" {{action 'askAboutRandy2'}}>Ask About Randy</button>

{{inventory-display}}
