<p>You shove over the security guard using the wheelchair, and make your way out the hospital door. Riding on the back of the wheelchair, you make your way back to your place, about 5 miles away (good thing your house is mostly downhill from the hospital).</p>
<p>Inside your house, you go to transfer his body off the wheelchair and realize that Randy is cold to the touch. Uh oh, he is super dead. Now you will never be able to get the burrito he owed you.</p>
<br>
<h3 class="game-over">GAME OVER</h3>
<br>
{{#link-to 'index'}}<div class="text-center"><button class="game-btn play-again">PLAY AGAIN</button></div>{{/link-to}}
