<p>You shove over the security guard using the wheelchair, and make your way out the hospital door. Riding on the back of the wheelchair, you make your way back to your place, about 5 miles away (good thing your house is mostly downhill from the hospital).</p>
<p>You push Randy through the front door, and deadbolt it behind you. You drag Randy out of the wheelchair and into the kitchen, and chain his ankle to the fridge. While you wait for Randy to wake up, you begin to arrange all sorts of burrito ingredients out on the counter, next to your beloved cactus. When Randy finally comes to, he begins to look around and eventually focuses in on you. You pull out a threatening pair of scissors and engage with your prisoner: "Randy, it is time for you to pay for wronging me. You will now construct a most delicious burrito for me." Randy replies "Wanda, how did I ever wrong you?". "Randy, do you remember March 23rd, 2012? It was on that day, that you threw away my burrito." "Wanda, that was a crusty, half-eaten burrito, and it had been in the fridge for 2 weeks. It was covered in mold." "I DON'T CARE IF IT HAD A MOLD HAT. YOU RUINED MY LIFE." "Wanda, you need to let it go." "Right after you fix this..." "I only lived with you for two weeks, I don't even know you." "Well, I certainly know YOU. Inside and out." "Oh really? Prove it."</p>

<p>Randy asks his first Randy-related question:</p>

<h3>"What is my last name?"</h3>
<button class="game-btn" {{action 'questionOneRight'}} type="radio" name="button">Schmeckles</button><br>
<button class="game-btn" {{action 'questionWrong'}} type="radio" name="button">St.John-Smythe</button><br>
<button class="game-btn" {{action 'questionWrong'}} type="radio" name="button">Sanders</button>
