<p>You grab the wheelchair and haul his body into it, putting on the sunglasses as a totally convincing disguise. You wheel Randy out towards the entrance of the hospital, and see the security guard by the door. WHAT DO?</p>
<br>
<button class="game-btn" {{action 'wheelchairDistractMagicEyeTrophy'}}>Distract the guard with Magic Eye book</button><br>
<button class="game-btn" {{action 'wheelchairRunForItTrophy'}}>Try and make a run for it</button><br>
